<section class="we-offer-area text-center bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>What we <span>Offer</span></h2>
                    <h4>We offer a wide range of product such as Groceries, Dairy Product, Confectionery, Fruits &
                        Vegetables etc.</h4>
                </div>
            </div>
        </div>
        <div class="row our-offer-items less-carousel">
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <h4>Groceries</h4>
                    <p>
                        Food cupboard, Drinks, Treehouse Bakery etc.
                    </p>
                    <button type="button" class="seeMoreBtn" (click)="routeProductList('grocery')">See more</button>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa-solid fa-glass"></i>
                    <h4>Dairy Product</h4>
                    <p>
                        Milk, Paneer, Cheez, Butter etc.
                    </p>
                    <button type="button" class="seeMoreBtn" (click)="routeProductList('dairy')">See more</button>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa-solid fa-cookie-bite"></i>
                    <h4>Confectionery</h4>
                    <p>
                        Sweets, Chocolate spreads, Snack bars etc.
                    </p>
                    <button type="button" class="seeMoreBtn" (click)="routeProductList('confectionery')">See more</button>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa-solid fa-house-user"></i>
                    <h4>Household</h4>
                    <p>
                        Cleaning, Dishwashing etc.
                    </p>
                    <button type="button" class="seeMoreBtn" (click)="routeProductList('household')">See more</button>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fa-solid fa-heart"></i>
                    <h4>Health & Beauty</h4>
                    <p>
                        Wellness, Hair, Healthcare & Beauty etc.
                    </p>
                    <button type="button" class="seeMoreBtn" (click)="routeProductList('health')">See more</button>
                </div>
            </div>
            <!-- End Single Item -->

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height">
                <div class="item">
                    <i class="fas fa-solid fa-apple-whole"></i>
                    <h4>Fruits & Vegetables</h4>
                    <p>
                        Apple, Berries, Potato, Onion etc.
                    </p>
                    <button type="button" class="seeMoreBtn" (click)="routeProductList('fruits')">See more</button>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</section>